<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forgot OTP Verification</title>
  <!-- <link rel="stylesheet" href="/css/css/forgototp.css" /> -->
  <link rel="stylesheet" href="css/css/user-otp.css" />
  <!-- Boxicons CSS -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <script src="js/user-otp.js" defer></script>

<body>
  <div class="container mt-5">
    <header>
      <i class="bx bxs-check-shield"></i>
    </header>
    <h4>Enter OTP Code</h4>
    <div>

      <p id="message" style="display: none; color: rgb(243, 89, 89);">
        invalid otp
      </p>


    </div>
    <form id="relodedive">
      <div class="input-field">
        <input id="num1" name="num1" type="number" />
        <input id="num2" name="num2" type="number" disabled />
        <input id="num3" name="num3" type="number" disabled />
        <input id="num4" name="num4" type="number" disabled />
      </div>
      <%console.log(usrid, mail) %>
        <p class="otp-text w-100" id="resend-div" style="display: none;">Not received your code <a href=""
            onclick="fetchOTP('<%= usrid %>','<%=mail%>')" id="resendButton"
            style="font-size: 12px;  text-decoration: none; color: #0e4bf1">RESEND OTP</a></p>


        <div class="time-div" id="time-div-id" onload="countdown()">
          <p class="otp-text">Not received your code </p>
          <input id="minutes" class="min-input" type="text" disabled>
          <font size="3">:</font>
          <input id="seconds" type="text" class="sec-input" disabled>
        </div>

        <div style="display: flex;">
          <a href="signup" style="text-decoration: none; color: black;">
            <div class="cancelbtn "><span style="position: relative; bottom: 12px;">cancel</span></div>
          </a>
          <button onclick="verifyotp(event)" type="button" id="submitbutton">Verify OTP</button>
        </div>
    </form>
  </div>
  <script>


    let min = 0.4;
    let sec = min * 60;

    function countdown() {
      setTimeout(decrement, 1000);
    }

    function decrement() {
      if (document.getElementById) {
        minutes = document.getElementById('minutes');
        seconds = document.getElementById('seconds');

        if (sec > 0) {
          minutes.value = getMinutes();
          seconds.value = getSeconds();
          sec--;
          setTimeout(decrement, 1000);
        } else {
          // document.getElementById('resendButton').style.display='block'
          document.getElementById('resend-div').style.display = 'block';
          const buttons = document.getElementById('submitbutton');
          buttons.disabled = true;



          minutes.value = '0';
          seconds.value = '0';
        }
        if (minutes.value == '0' && seconds.value == '0') {

          document.getElementById('time-div-id').style.display = 'none';


        }
      }
    }

    function getMinutes() {
      return Math.floor(sec / 60);
    }

    function getSeconds() {
      return sec % 60;
    }

    window.onload = function () {
      countdown();
    };

  </script>

  <script>












    async function verifyotp(event) {
      event.preventDefault();
      const num1 = document.getElementById('num1').value;
      const num2 = document.getElementById('num2').value;
      const num3 = document.getElementById('num3').value;
      const num4 = document.getElementById('num4').value;
      console.log(num1)
      console.log(num2)

      console.log(num3)

      console.log(num4)



      fetch('/forgototp', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          num1,
          num2,
          num3,
          num4,

        })
      })
        .then(response => response.json())
        .then(data => {

          if (data.success === false) {
            // window.location.href="/forgototp"
            document.getElementById("message").style.display = "block";
          } else if (data.success === true) {
            console.log("okkkk")

            const userId = data.userId;
            const email = data.email;
            console.log(userId, email, "ppppppp")

            window.location.href = "/changepasswordform"

          } else {

          }


        }).catch(error => {
          console.log(error);

        })
    }




  </script>
  <script src="/js/fetch.js"></script>
  <!-- Latest version of jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>