<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OTP Verification Form</title>
  <link rel="stylesheet" href="css/css/user-otp.css" />
  <!-- Boxicons CSS -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <script src="js/user-otp.js" defer></script>
</head>

<body>
  <div class="container">
    <header>
      <i class="bx bxs-check-shield"></i>
    </header>
    <h4>Enter OTP Code</h4>
    <div>
      <%if (typeof message !=='undefined' ){%>
        <p>
          <%=message%>
        </p>
        <%}%>

    </div>
    <form action="" method="post">
      <div class="input-field">
        <input name="num1" type="number" />
        <input name="num2" type="number" disabled />
        <input name="num3" type="number" disabled />
        <input name="num4" type="number" disabled />
      </div>
      <div>
        <p class="otp-text">Don't receive the OTP <a href="" onclick="fetchOTP('<%= userId %>','<%=email%>')" id="resendButton"
            style="font-size: 12px; text-decoration: none; color: #0e4bf1">RESEND OTP</a></p>

      </div>
      <div style="display: flex;">
        <a href="signup" style="text-decoration: none; color: black;">
          <div class="cancelbtn "><span style="position: relative; bottom: 12px;">cancel</span></div>
        </a>
        <button type="submit" class="formbutton ">Verify OTP</button>
      </div>
    </form>
  </div>


  <script>
    async function fetchOTP(userId, email) {
      
      event.preventDefault();
      try {
        const response = await fetch('/resendotp', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ userId, email }),
        });

        if (response.ok) {

          console.log('Resend OTP request successful');

        } else {
          console.error('Resend OTP request failed');
        }
      } catch (error) {
        console.error('Error during Resend OTP request:', error);
      }
    }
  </script>
</body>

</html>